@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "Index";
}

<h1>Persons</h1>
<a asp-controller="Persons" asp-action="Create">Create Person</a>

<form asp-controller="Persons" asp-action="Index" method="get">
    <div class="box flex">
        <div class="flex-1" >
            <select class="form-input" name="searchBy">
                @foreach (var property in ViewBag.personProperties)
                {
                    if (property.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@property.Key" selected="selected">@property.Value</option>
                    }
                    else
                    {
                        <option value="@property.Key">@property.Value</option>
                    }
                }
            </select>
        </div>

        <div class="flex-1">
            <input type="search" placeholder="Search" id="search" class="form-input" name="searchText" value="@ViewBag.CurrentSearchText" />
        </div>

        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a href="~/Persons/Index">Clear</a>
        </div>

    </div>
</form>

<table class="table w-100 mt">
    <thead>
        <tr>
            <th>
              @await Html.PartialAsync("_ColumnHeader" , 
                    new ViewDataDictionary(ViewData) 
                    {
                        {"ColumnName", nameof(PersonResponse.Name)},
                        {"DisplayName", "Name"},
                    })
            </th>    
            <th>
                @await Html.PartialAsync("_ColumnHeader" ,
                new ViewDataDictionary(ViewData)
                {
                {"ColumnName", nameof(PersonResponse.Email)},
                {"DisplayName", "Email"},
                })
            </th>
            <th>
                @await Html.PartialAsync("_ColumnHeader" ,
                new ViewDataDictionary(ViewData)
                {
                {"ColumnName", nameof(PersonResponse.Address)},
                {"DisplayName", "Address"},
                })
            </th>
            <th>
                @await Html.PartialAsync("_ColumnHeader" ,
                new ViewDataDictionary(ViewData)
                {
                {"ColumnName", nameof(PersonResponse.Gender)},
                {"DisplayName", "Gender"},
                })
            </th>
            <th>
                @await Html.PartialAsync("_ColumnHeader" ,
                new ViewDataDictionary(ViewData)
                {
                {"ColumnName", nameof(PersonResponse.DateOfBirth)},
                {"DisplayName", "Date of Birth"},
                })
            </th>
            <th>
                @await Html.PartialAsync("_ColumnHeader" ,
                new ViewDataDictionary(ViewData)
                {
                {"ColumnName", nameof(PersonResponse.Age)},
                {"DisplayName", "Age"},
                })
            </th>
            <th>
                @await Html.PartialAsync("_ColumnHeader" ,
                new ViewDataDictionary(ViewData)
                {
                {"ColumnName", nameof(PersonResponse.CountryName)},
                {"DisplayName", "Country"},
                })
            </th>
            <th>
                @await Html.PartialAsync("_ColumnHeader" ,
                new ViewDataDictionary(ViewData)
                {
                {"ColumnName", nameof(PersonResponse.ReceivesNewsLetter)},
                {"DisplayName", "Recieve News Letter"},
                })
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Email</td>
                <td>@person.Address</td>
                <td>@person.Gender</td>
                <td>@person.DateOfBirth?.ToString("dd/MM/yyyy")</td>
                <td>@person.Age</td>
                <td>@person.CountryName</td>
                <td style="width: 10%;">@person.ReceivesNewsLetter</td>
                <td>
                    <a href="~/Persons/Edit/@person.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>

</table>